name: Deploy Backend to Somee via FTP

on:
  push:
    branches:
      - main

jobs:
  deploy-be:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy Backend via FTP
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.HOST_FTP }}
          username: ${{ secrets.USER_FTP }}
          password: ${{ secrets.PASS_FTP }}
          local-dir: backend
          server-dir: /www.minhnghia2907s.somee.com/backend/
